/* general */
* { padding: 0; margin: 0 }
body { width: 100%; background-color: #fef0c9; font-family: Palatino, "New Century Schoolbook", serif; }
ul, ol { list-style: none; }
.content { width: 700px; padding-top: 50px; padding-left: 20px; margin-left: 200px; }
a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
/* headings, index */
h1 { text-align: center; color: green; }
#version { font-size: 40%; }
h3.initial { border-bottom: thin solid grey; font-size: xx-large; font-variant: small-caps; margin-bottom: 1em; margin-top: 2em; color: #cd0000; }
div.index { text-align: center; margin-top: 1.5em; margin-bottom: 3em; padding-top: .3em; padding-bottom: .3em; }
div.index a { font-variant: small-caps; padding-left: .2em; padding-right: .2em; color: #cd0000; }
/* content */
.main {}
.entry { position: relative; margin-top: 1em; text-indent: -1.5em; margin-left: 1.5em; margin-bottom: 3em; }
.gismu { font-weight: bold; color: green; font-size: larger; }
.rafsilist { margin-left: .3em; color: grey; }
.rafsi {}
.gismudef { margin-left: .6em; font-style: italic; }
.sumti { color: blue; }
.keywords { display: block; text-indent: 0; }
.keywordentry { font-style: italic; margin-right: .3em; }
.place { font-weight: bold; } 
.keyword {}
.etymology { display: block; padding-top: .6em; padding-bottom: .6em; }
.langetymology { display: block; text-indent: 0; }
.lang { font-size: small; font-variant: small-caps; text-transform: lowercase; color: grey; }
.sourcewordentries { padding-left: .3em; }
.sourcewordentry {}
.sourcewordnumber { vertical-align: super; font-size: xx-small; font-weight: bold; padding-left: .3em; }
.sourceword {}
.simplified { padding-left: .3em; }
.transcription {}
.transliteration { padding-left: .3em; font-family: Helvetica, Arial, sans-serif; }
.translation { padding-left: .3em; font-style: italic; }
.comment { vertical-align: super; font-size: xx-small; }
.remark { position: absolute; top: 0; left: -200px; width: 150px; 
    display: block; text-indent: 0; margin-top: .6em; font-size: smaller; }
.references { display: block; text-indent: 0; margin-top: .6em; /*font-size: smaller;*/ }
.gismuref { color: green; }
